* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

/* Lembrete: incluir botões login por google, email e esqueci minha senha*/
/* Também incluir o botão de cadastro */